/*------ IMPORT CUSTOM FONTS ------*/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

/*------ GENERAL ------*/

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  background-color: #b0ddf4;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*------ HEADER CONTENT ------*/

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.5em;
}

.header-title img {
  margin-left: 50px;
}

.header-title,
.footer-content {
  background-color: #eddd34;
  padding: 25px;
}

/*------ MAIN-CONTENT [SCORECARD] ------*/

.main-content,
.scorecards,
.scores-individual {
  display: flex;
}

.main-content {
  margin: 120px 0;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
  align-items: center;
}

.scorecards {
  align-items: center;
  flex-direction: column;
  font-size: 1.2em;
  padding: 25px 50px;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #a0d5ef;
  border-radius: 25px;
  box-shadow: 15px 15px 10px #7095a7;
}

.scorecards h2 {
  text-transform: uppercase;
  text-shadow: 8px 8px 10px #47420f;
  font-size: 2.5em;
}

.scorecards .scores-individual {
  gap: 1em;
}

.player-score,
.computer-score {
  text-align: center;
  margin: 25px 0;
  border: solid 5px #000000;
  padding-top: 15px;
  border-radius: 15px 15px 5px 5px;
  background-color: #000;
  color: #fff;
  box-shadow: 12px 12px 10px #47420f;
}

.current-score {
  background-color: #eddd34;
  min-height: auto;
  min-width: 250px;
  margin-top: 15px;
  border-top: solid 5px #000000;
  font-size: 7em;
  color: #000;
}

.player-logo {
  border-radius: 25px;
  box-shadow: 15px 15px 10px #80aabf;
  padding: 25px;
  background-color: #90bfd7;
  margin: 25px 0;
}

/*------ SECTION - 02 [SIGN SELECTION] ------*/

.container,
.player-container,
.computer-container,
.signs-container {
  display: flex;
}

.container {
  justify-content: center;
  margin-bottom: 35px;
  flex-wrap: wrap;
  gap: 2em;
}

.player-container,
.computer-container {
  padding: 25px;
  box-shadow: 15px 15px 10px #7095a7;
  background-color: #a0d5ef;
  border-radius: 25px;
}

.signs-container {
  padding: 25px;
  text-align: center;
  gap: 2em;
}

.signs {
  border: solid 5px #000;
  background-color: #000;
  border-radius: 15px 15px 5px 5px;
  min-width: 200px;
  box-shadow: 10px 10px 10px #202a2f;
  transition: all .5s ease-in-out;
}

.signs h4 {
  margin: 20px;
  color: #fff;
}

.signs .choice,
.signs button,
.signs button img {
  background-color: #5fb8e4;
}

.signs button {
  border: none;
}

.signs button img {
  padding: 15px;
}

/*------ FOOTER ------*/

.footer-content {
  font-size: .7em;
  font-weight: bold;
  margin-top: 120px;
  text-align: center;
}

/*------ MISC ------*/

.signs-player:hover {
  transform: scale(1.1);
  border: solid 5px #000;
  background-color: #eddd34;
  color: #000;
  border-radius: 0;
  box-shadow: 0 0 0 3px #202a2f;
}
